.college-names{
	font-size: 18px;
}
body{
	background-color: #FAF9E8;
}
.list{
	width: 30%;
	position: absolute;
}
.result{
	width :60%;
	float: right;
	margin: 50px 10px 0 30px;
	position: relative;
	overflow : auto;
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
    display: block;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
}

.scroll-top .btn:focus {
    outline: 0;
}